body{
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    font-family: 'Montserrat Alternates', sans-serif;
}
h1{
    font-family: 'Montserrat Alternates', sans-serif;
}
.card{
    margin-left: 20%;
    margin-top: 5%;
    opacity: 90%;
}

.img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.btn-block{
    width: 100%;
}
.desc{
    margin: 25px;
}
.btn{
    border-radius: 25px;
}
.table{
    color:white
}